<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head"); %>
</head>

<body>
    <header>
        <img src="https://download.logo.wine/logo/Deadline_Hollywood/Deadline_Hollywood-Logo.wine.png"
            alt="deadline-logo" class="logo" />
    </header>
    <main>
        <div id="app">
            <div class="container">
                <div v-if="step < 12" id="question" class=" main animate__animated animate__fadeIn">
                    <div class="question">
                        <p>{{ questions[step] }}</p>
                    </div>
                    <input type="text" class="answerInput" v-model="answer" @keyup.enter="ans()" />
                    <br />
                    <button type="submit" @click="ans()">ตอบ</button>
                    <br />
                </div>

                <div class="end" v-else>
                    <p>ขอบคุณ</p>
                </div>
            </div>
        </div>
    </main>


    <%- include("./partials/scripts"); %>
</body>

</html>